.navFrame{
	display: block;
	width: 150px;
	padding: 0;
	margin-top: 30px;
}

.mobNav{
	display: block;
	list-style-type: None;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 5px;
}

.mobNavList{
	display: block;
	color: white;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
}

.mobNavList:hover{
	transform: scale(1.1);
}

