.btnScale{
	transition: all .2s ease-in-out;
	margin-top: 20px;
}

.btnScale:hover{
	transform: scale(1.1);
}

.main_h1{
	color: yellow;
}

.FormContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.InputContainer{
	display: block;
	width: 40%;
	margin: 10px auto;
}

.SubmitBtn{
	width: 40%;
	display: block;
	margin: 20px auto;
}

@media only screen and (max-width: 700px) {
	.InputContainer{
		width: 90%;
		width: 75%;
	}
}