.ToggleDiv{
	width: 50px;
	background-color: #504b4b85;
	display: block;
	padding: 2px;
	margin: 5px;
	border: solid 1px;
	border-radius: 10%;
	margin-left: 45px;
	border-color: #504b4b85;
	cursor: pointer;
	margin-bottom: 0;
}

.ToggleLine{
	margin: 10px auto;
	height: 2px;
	display: block;
	background-color: white;
	opacity: 75%;
	border: solid 1px;
	border-color: white;
	border-radius: 25%;

}