.container{
	min-height: 100vh;
	margin-bottom: -160px; 
}

.container:after {
  content: "";
  display: block;
}

.Footer, .container:after {
  height: 120px; 
}

.HeadPart{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 150px;
	transition: height 500ms;
}

.mobBotOpened{
	height: 250px;
}

.mobBotClosed{
	height: 150px;
}

.MainPart{
	margin: 10px auto;
	width: 90%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: white;
	text-align: center;
	overflow: hidden;
}

.MainPart > div{
	width: 100%;
}

.dialog-enter {
	opacity: 0.01;
	transform: translateX(50vh);
}

.dialog-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1000ms;
}

.dialog-exit {
	transform: translateY(0px);
	opacity: 1;
}

.dialog-exit-active {
  opacity: 0.01;
  transform: translateY(-50vh);
  transition: all 1000ms;
}


.headPA-enter {
  height: 150px;
}

.headPA-enter-active {
  height: 250px;
  transition: all 300ms;
}

.headPA-exit {
  height: 250px;
  transform: scale(1);
}

.headPA-exit-active {
  height: 150px;
  transition: all 300ms;
}




.alertAnim-enter {
	opacity: 0.01;
}

.alertAnim-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.alertAnim-exit {
	opacity: 1;
}

.alertAnim-exit-active {
  opacity: 0.01;
  transition: all 500ms;
}

.AlertPlace{
	height: 0px;
	transition: height 1500ms;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
	.Footer, .container:after {
		height: 180px; 
	}
	.container{
		margin-bottom: -220px;
	}
}