.HeadPart{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.MainPart{
	margin: 0 auto;
	width: 90%;
	padding: 20px;
	text-align: center;
	color: white;
}

@media only screen and (min-width: 900px) {
	.HeadPart{
		height: 200px;
	}
}