.container{
	min-height: 100vh;
	margin-bottom: -160px; 
}

.container:after {
  content: "";
  display: block;
}

.Footer, .container:after {
  height: 120px; 
}

.HeadPart{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 150px;
}

.MainPart{
	margin: 0 auto;
	width: 90%;
	padding: 20px;
	text-align: center;
	color: white;
}


@media only screen and (max-width: 900px) {
	.Footer{
		display: block;
		text-align: center;
	}
	.Footer, .container:after {
		height: 180px; 
	}
	.container{
		margin-bottom: -220px;
	}

	.CopyRight{
		margin-top: 10px;
	}
}